*{
    margin:0;
    padding:0;
}
body{
    margin:10px;
}
.list{
    margin:10px;
}
h1{
    color: green;
}
ul{
    color:brown;
    font-size: larger;
}
ol{
    color:blueviolet;
    font-size: larger;
}