*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
table{
    font-size: 14px;
    border: 3px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28%;
    margin: auto;
}
th{
    font-size: 30px;
    border:2px solid green
}
td{
    font-size: 20px;
    border:2px solid green
}
h1{
    text-align: center;
    margin-top: 40px;
    text-decoration:underline;
}